# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
#*

# You can whitelist files/folders with !, these will not be ignored.
#!*.yaml
#!.gitignore
#!*.md
!ha_bali.png
!custom_components/*

# Ignore folders.
.storage
.cloud
.config
.google.token
compiled
bash
build
images
certs
deps
cookie
gtfs
downloads
remotes
ssh
TwitterGeoPics
sfgabe_tweets
octocam_tweets
panels
scripts
scripts3
ui-lovelace.yaml.sb*
python_scripts/lib
.well_known
www/.well-known
www_back
scripts3

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
zone.yaml
known_devices.yaml
device_tracker.yaml
intent_script.yaml
floorplan.yaml
google_calendars.yaml
google_calendars_all.txt
tweets_octocam.txt
tweets_sfgabe.txt
cameras.yaml
hass_tts_key.json
rest_command.yaml
appdaemon.yaml
shell_commands.yaml
configuration.cnf
essexcrossing.py
usps.py
emulated_hue_ids.json
www/google8caabc15f40815e1.html
alexa*
credentials*
client_secret*
passwordfile
www/volumio.html
*.ini
*log
*.DS_Store
.uuid
.google*
*.pickle
*.txt
*.db
*.png
*.mp3
*.sh
*.gif
*.jpg
*.sqlite
*.conf
*.pem
*.py
*.pyc
._*
._.DS_Store
._.gitignore
._.input_datetime.yaml.swp
._.smbdeleteAAA214ea
._appdaemon.yaml
._appdaemon_old.yaml
._boink.wav
._cameras.yaml
._device_tracker.yaml
._floorplan.yaml
._google_calendars.yaml
._history_graph.yaml
._home-assistant_v2.db-shm
._images
._cameras.yaml
._device_tracker.yaml
._floorplan.yaml
._google_calendars.yaml
._history_graph.yaml
._home-assistant_v2.db-shm
._intent_script.yaml
._known_devices.yaml
._rest_command.yaml
._secrets.yaml
._shell_commands.yaml
._ui-lovelace2.yaml
